[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=systemdatascope
Exec=systemdatascope
Name=SystemDataScope

[X-Sailjail]
Sandboxing=Disabled
